@{
    Layout = "_Layout";
}
<div class="container">
     <form action="IncluirAluno" method="post">
            <button type="submit"class="btn btn-primary">
                Salvar
            </button>                   
            <!--Div onde será colocado os componentes 
            do formulário-->    
            <!--inicio class col --> 
            <div class="col-10">
                <!--inicio class row --> 
                <div class="row">           
                        <div class="col">
                            <label for="" class="form-label">Nome</label>
                            <input
                                type="text"
                                class="form-control"
                                name=""
                                id=""
                                aria-describedby="helpId"
                                placeholder=""
                            />                            
                        </div>                       
                        <div class="col-5">
                            <label for="" class="form-label">CPF</label>
                            <input
                                type="text"
                                class="form-control"
                                name=""
                                id=""
                                aria-describedby="helpId"
                                placeholder=""
                            />                            
                        </div>  
                </div>                
                <!-- #fim class row-->

                <!-- #inicio class row-->
                <div class="row">                    
                    
                    <div class="mb-3">
                        <label for="" class="form-label">Endereço</label>
                        <input
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                        />                                                
                    </div>
                    

                </div>
                <!-- #fim class row-->

                <!-- #inicio class row -->    
                <div class="row">

                    <div class="col">
                        <label for="" class="form-label">Bairro</label>
                        <input
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                        />                        
                    </div>

                    <div class="col">
                        <label for="" class="form-label">Cidade</label>
                        <input
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                        />                        
                    </div>

                    <div class="col">
                        <label for="" class="form-label">Estado</label>
                        <input
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                        />                        
                    </div>

                </div>
                <!-- #fim class row -->    

            </div>
            <!-- #fim class col-->

    </form>
</div>
