@{
    Layout = "_Layout";
}
<div class="container">
     <form action="IncluirAluno" method="post">
            <button
                type="submit"
                class="btn btn-primary"
            >
                Submit
            </button>                   
    </form>
</div>
