@{
    Layout = "_Layout";
    /*Definindo qual entidade será utilizada no formulário
    de cadastro para vincular os campos do formulário a cada
    atributo da entidade */
    @model Aluno
}
<div class="container">
     <!-- Diferente do form padrão, com ASP.NET utilizamos o 
     asp-action, pois esse parâmetro possui uma integração melhor com a
     plataforma Asp.NET, vinculando mais facilmente as ações. -->       
     <form asp-action="@ViewBag.Acao" method="post">
            <!-- Seção responsável por lista e exibir os possíveis
            erros do formulário, se houver e também por ativar as validações
            dos campos no formulário HTML. -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <button type="submit"class="btn btn-primary">
                Salvar
            </button>                   
            <!--Div onde será colocado os componentes 
            do formulário-->    
            <!--inicio class col --> 
            <div class="col-10">
                <!--inicio class row --> 
                <!--Nas tags label e input DEVEMOS incluir a atributo
                 asp-for. Esse atributo permite associar o campo da tabela
                 do banco de dados aos campos do formulário HTML.-->
                <div class="row">    

                        <!-- Esse campo é oculto, é utilizado apenas para 
                        armazenar o ID da entidade para realizar edições.-->
                        <input type="hidden" asp-for="Id"/>

                        <div class="col">
                            <label asp-for="Nome" class="form-label">Nome</label>
                            <input
                                type="text"
                                class="form-control"                                
                                asp-for="Nome"                                 
                            />
                           <!-- Exibe a informação de erro de validação no campo--> 
                           <span asp-validation-for="Nome" class="text-danger">*</span>                                          
                        </div>   


                        <div class="col-5">
                            <label asp-for="Cpf" class="form-label">CPF</label>
                            <input
                                type="text"
                                class="form-control"
                                asp-for="Cpf"
                            />    
                            <span asp-validation-for="Cpf" class="text-danger">*</span>                         
                        </div>  
                </div>                
                <!-- #fim class row-->

                <!-- #inicio class row-->
                <div class="row">                    
                    
                    <div class="col">
                        <label asp-for="Endereco" class="form-label">Endereço</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Endereco"
                        />  
                        <span asp-validation-for="Endereco" class="text-danger">*</span>                                              
                    </div>                    

                    <div class="col-2">
                        <label asp-for="Cep" class="form-label">CEP</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Cep"
                        />  
                        <span asp-validation-for="Cep" class="text-danger">*</span>                                               
                    </div> 

                    <div class="col-1">
                        <label asp-for="Numero" class="form-label">Número</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Numero"
                        /> 
                        <span asp-validation-for="Numero" class="text-danger">*</span>                                                
                    </div> 

                </div>
                <!-- #fim class row-->

                <!-- #inicio class row -->    
                <div class="row">

                    <div class="col">
                        <label asp-for="Bairro" class="form-label">Bairro</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Bairro"                       
                        />    
                        <span asp-validation-for="Bairro" class="text-danger">*</span>                    
                    </div>

                    <div class="col">
                        <label asp-for="Cidade" class="form-label">Cidade</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Cidade"                        
                        /> 
                        <span asp-validation-for="Cidade" class="text-danger">*</span>                        
                    </div>

                    <div class="col">
                        <label asp-for="Estado" class="form-label">Estado</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Estado"                           
                        />
                        <span asp-validation-for="Estado" class="text-danger">*</span>                         
                    </div>

                </div>
                <!-- #fim class row -->    

            </div>
            <!-- #fim class col-->

    </form>
</div>
