@{
    Layout = "_Layout";
    /*Definindo qual entidade será utilizada no formulário
    de cadastro para vincular os campos do formulário a cada
    atributo da entidade */
    @model CadastroAlunos.Models.Aluno
}
<div class="container">
     <form action="IncluirAluno" method="post">
            <button type="submit"class="btn btn-primary">
                Salvar
            </button>                   
            <!--Div onde será colocado os componentes 
            do formulário-->    
            <!--inicio class col --> 
            <div class="col-10">
                <!--inicio class row --> 
                <!--Nas tags label e input DEVEMOS incluir a atributo
                 asp-for. Esse atributo permite associar o campo da tabela
                 do banco de dados aos campos do formulário HTML.-->
                <div class="row">           
                        <div class="col">
                            <label asp-for="Nome" class="form-label">Nome</label>
                            <input
                                type="text"
                                class="form-control"                                
                                asp-for="Nome"                                 
                            />                            
                        </div>                       
                        <div class="col-5">
                            <label asp-for="Cpf" class="form-label">CPF</label>
                            <input
                                type="text"
                                class="form-control"
                                asp-for="Cpf"
                            />                            
                        </div>  
                </div>                
                <!-- #fim class row-->

                <!-- #inicio class row-->
                <div class="row">                    
                    
                    <div class="col">
                        <label asp-for="Endereco" class="form-label">Endereço</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Endereco"
                        />                                                
                    </div>                    

                    <div class="col-2">
                        <label asp-for="Cep" class="form-label">CEP</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Cep"
                        />                                                
                    </div> 

                    <div class="col-1">
                        <label asp-for="Numero" class="form-label">Número</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Numero"
                        />                                                
                    </div> 

                </div>
                <!-- #fim class row-->

                <!-- #inicio class row -->    
                <div class="row">

                    <div class="col">
                        <label asp-for="Bairro" class="form-label">Bairro</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Bairro"                       
                        />                        
                    </div>

                    <div class="col">
                        <label asp-for="Cidade" class="form-label">Cidade</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Cidade"                        
                        />                        
                    </div>

                    <div class="col">
                        <label asp-for="Estado" class="form-label">Estado</label>
                        <input
                            type="text"
                            class="form-control"
                            asp-for="Estado"                           
                        />                        
                    </div>

                </div>
                <!-- #fim class row -->    

            </div>
            <!-- #fim class col-->

    </form>
</div>
